#!/bin/bash
    [Unit]
        After=network.target
        
        [Service]
#Type=simple
#User=root
Restart=always
RestartSec=10
ExecStart=/usr/bin/sh /usr/bin/emk.sh
#ExecStop=/bin/kill  ${MAINPID}

    [Install]
WantedBy=multi-user.target